.fullslide img {
  margin-top: -45px;
  margin-left: -60px;
}

.gdbar img {
  width: 400px !important;
  height: 124px !important;
  margin: 2px 2px;
}

.gdbar {
  width: 450px !important;
  height: 164px !important;
}

slides > slide:not(.nobackground):before {
  width: 0px;
  height: 0px;
  background-size: 100px 31px;
}